:root {
  --animate-delay: 1.2s;

  --sPT: 15px;
  --sPB: 15px;
  --sTPB: 20px;
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(40)};
    --sPB: #{rem(40)};
    --sTPB: #{rem(44)};
  }


  --bs-body-font-size: 14px;
  @include media-breakpoint-up(md){
    --bs-body-font-size: 15px;
  }
	@include media-breakpoint-up(xl){
		--bs-body-font-size: #{$em-base};
	}


	//--
  --swiperArrowSize: #{rem(68)};
  --swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
  --swiperBorderColorDef: var(--bs-primary);
  --swiperColorDef: var(--bs-primary);
  --swiperBgDef: #ffffff;

  --swiperBorderColorDefHover: var(--bs-primary);
  --swiperColorDefHover: var(--bs-primary);
  --swiperBgDefHover: #ffffff;


  --fancybox-bg: rgba(24, 24, 27, .77);
}