@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-catalog-burger {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
.icon-chevron-left {
	font-size:math.div(26,10)*1rem;
	width: math.div(15,26)*1em;
}
.icon-chevron-right {
	font-size:math.div(26,10)*1rem;
	width: math.div(16,26)*1em;
}
.icon-project-des {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-user {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-zoom {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
