// start .headerBlock
.headerBlock {
	background-color: $light;
	//-padding-top: calc(var(--header-h) + var(--sPT)) !important;
	//width: 100vw;
	overflow: hidden;

	--sPT: 0px;

	margin-top: -2px;
	--sPB: #{rem(15)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(lg) {
		margin-top: 0;
		--sPB: #{rem(35)};
		--sTPB: #{rem(40)};
	}

	//-
	.swiper{
		overflow: visible;
	}
	&__slider-wrap{
		.swiper-wrapper{

		}
		.swiper-slide{
			@include mt();
			width: 100%;
			border-radius: 10px;
			overflow: hidden;

			&.swiper-slide-next,
			&.swiper-slide-prev{
				opacity: 0;
				@include media-breakpoint-up(lg){
					opacity: 1;
					filter: blur(5px);
				}
			}
		}

		.swiper-pagination{
			position: absolute;
			z-index: 10;
			top: 100%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
		}

		//
		.swiper-button-hand-prev,
		.swiper-button-hand-next{
			@extend .swiper-gradient-ball;
		}
		.swiper-button-hand-prev{
			left: 0;
		}
		.swiper-button-hand-next{
			left: 100%;
		}
	}

	&__item{
		position: relative;

		padding: 20px 25px 136px;
		@include media-breakpoint-up(sm){
			padding: rem(24) rem(32) rem(72);
		}
		@include media-breakpoint-up(lg){
			padding: rem(53) rem(72) rem(66);
		}
	}
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		font-weight: 600;
		color: $white;
		max-width: 340px;

		font-size: 28px;
		line-height: calc(34/28);
		margin-bottom: 24px;
		@include media-breakpoint-up(md){
			font-size: rem(40);
			line-height: calc(48/40);
			margin-bottom: rem(36);
		}

	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-white;

		@include media-breakpoint-down(sm){
			padding: 4.5px 16px;
		}
	}
	//
	&__{}
	&__{}
}

// end.headerBlock