extends layout/main.pug


include ../blocks/sFormAlt/_sFormAlt.pug
include ../blocks/sCables/_sCables.pug

block variables
	- //remove gray-header
	- let  mainPage= 'el-catalog'
	- let  bg= '03-cables-1.jpg'

block title
	- let  title= 'Кабели силовые гибкие'
	title= title
block pagecontent
	+mob-mnu()
	+header()(class="gray")
		+top-nav()
	+topLine()(class="bg-light")
	+b.head-page
		+e.breadcrumb-wrap
			.container
				+breadcrumb('Главная','Каталог продукции',title)
	+sCables(2,title,`Кабели предназначены для передачи и&nbsp;распределения электрической энергии в&nbsp;шахтных электрических сетях при прокладке их&nbsp;по&nbsp;горизонтальным и&nbsp;наклонным выработкам шахт и&nbsp;по&nbsp;вертикальным скважинам, на&nbsp;номинальное переменное напряжение основных жил<br /><br />Кабели предназначены для передачи и&nbsp;распределения электрической энергии в&nbsp;шахтных электрических сетях при прокладке их&nbsp;по&nbsp;Кабели предназначены для присоединения шахтных передвижных машин и&nbsp;механизмов при подземных горных работах к электрическим сетям на&nbsp;номинальное переменное напряжение до&nbsp;1140&nbsp;В номинальной`,2,`Подгруппы продукции`,`LV`,`MV`,`HV`)
	+sFormAlt()
	+footer()