extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sSphere/_sSphere.pug
include ../blocks/sProdGroup/_sProdGroup.pug
include ../blocks/sPlants/_sPlants.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPrint/_sPrint.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sFormAlt/_sFormAlt.pug

block variables
	- //remove gray-header
	- let  mainPage= 'main-page gray-header'
	- let  bg= 'index-320.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()(class="gray")
		+top-nav()
	+topLine()(class="bg-light")
	+headerBlock()
	+sNew()
	+sSphere()
	+sProdGroup()
	+sPlants()
	+sForm()
	+b.news-bl.section
		.container
			+e.row.row
				.col-xl-4
					+sNews()
				.col-xl-8
					+sPrint()
	+sMap()
	+sFormAlt()
	+footer()