mixin sPlants(data)
	// start sPlants
	+b.SECTION.sPlants.section#sPlants&attributes(attributes)
		.container
			+b.section-title
				h2 Наши заводы
			+e.items-row.row
				+sPlantsItem(1, 'Датой основания считается 1729 год, когда на берегу реки Кирс хлыновским купцом Григорием Вяземским было основано чугунолитейное производство. Продукция отличалась высоким качеством. Доказательством тому служит заказ на изготовление луженного с обеих сторон железа для устройства первой кровли Зимнего дворца.')
				+sPlantsItem(2, 'Предприятие АО «Иркутсккабель» было спроектировано и строилось как узкоспециализированный завод по выпуску двух основных групп кабельных изделий: неизолированных алюминиевых и сталеалюминиевых проводов для воздушных линий электропередач и силовых кабелей исключительно с алюминиевыми жилами')
			+e.pill-row.row
				+sPlantsPill(1, '30 лет', `Успешной работы на рынке России и ближнего зарубежья`)
				+sPlantsPill(2, '10 000+', `Клиентов довольны нашей продукцией`)
				+sPlantsPill(3, '100 000+', `Позиций в каталоге кабельной продукции. Производим все!`)
				+sPlantsPill(4, '500', `Успешно выполненных государственных контрактов`)
	// end sPlants

mixin sPlantsPill(imgNum, num, txt)
	.col-6.col-lg-3
		+e.pill.text-center
			+e.p-img
				img(loading="lazy" src=`img/svg/sPlantsPill-${imgNum}.svg` alt="")
			+e.p-num=num
			+e.p-txt!=txt

mixin sPlantsItem(imgNum, txt)
	.col-lg-6
		+e.item
			+e.bg
				img(loading="lazy" src=`img/@2x/sPlants-bg-${imgNum}.png` alt="")
			+e.img(href="#")
				img(loading="lazy" src=`img/@2x/sPlants-${imgNum}.png` alt="")
			+e.txt
				p=txt
			+e.btn(href="#") Узнать больше