//- WP menu
mixin mnu()
	-
		var nav= { 
			"Сервисы":"#",
			"Сотрудничество":"#",
			"Где купить":"#",
			}
	ul.menu
		//-1
		li.menu-item.menu-item-has-children
			a(href="#") О компании
			ul.sub-menu
				-
					var subnav= {
						"Руководство":"#",
						"Заводы":"#",
						"Лицензии и сертификаты":"#",
						"Кабель без опасности":"#",
						"Контакты":"#",
						}
				each sublinkPatch, sublinkName in subnav
					li.menu-item: a(href=sublinkPatch)= sublinkName
		//-2
		li.menu-item.menu-item-has-children
			a(href="#") Пресс-центр
			ul.sub-menu
				-
					var subnav = {
						"Новости": "#",
						"Календарь мероприятий": "#",
						"Каталоги": "#",
						"Фото и видео": "#",
						"Задать вопрос": "#",
						"Отзывы": "#",
					}
				each sublinkPatch, sublinkName in subnav
					li.menu-item: a(href=sublinkPatch)= sublinkName
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)= linkName

//- menu